<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <div id="app">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <form @submit.prevent="add">
            <p v-if="alerts.length">
              <div v-for="alert in alerts" class="alert alert-success" role="alert">
                  {{ alert }}
              </div>
            </p>
            <div class="form-group">
              <label for="">Nama Barang</label>
              <input type="text" v-model="name" class="form-control">
              <div v-if="errors.name" class="alert alert-danger" role="alert">
                  {{ errors.name }}
              </div> 
            </div>
            <div class="form-group">
              <label for="">Harga Barang</label>
              <input type="number" v-model="price" class="form-control">
              <div v-if="errors.price" class="alert alert-danger" role="alert">
                  {{ errors.price }}
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Tambah</button>
          </form>
          
          <label class="hr-line-dashed"></label>
          <form @submit.prevent="addCoupon" class="form-inline well">
            <div class="form-group mb-2">
              <label for="">Kupon</label>&nbsp;
              <input type="text" v-model="couponCard" class="form-control">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary mb-2">Tambah</button></td> 
            </div>
          </form>
        </div>
        <div class="col-sm-6">
          <p>Shopping Cart</p>
          <div v-if="loading" class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <table v-if="!loading" class="table table-striped">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Nama Barang</th>
                  <th>Harga</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tr v-for='(item, index) in items' :key="item.id">
                <td>{{++index}}</td>
                <td>{{item.name}}</td>
                <td>Rp. {{item.price}}</td>
                <td><button 
                      @click="remove(item)" 
                      class="btn btn-danger">Hapus
                    </button>
                </td>
              </tr>
              <tr>
                <td></td>
                <td>Total</td>
                <td>Rp. {{ total }}</td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td>Diskon</td>
                <td>Rp. {{ diskon }}</td>
                <td></td>
              </tr>
              <tr>
                  <td></td>
                  <td>Grand Total</td>
                  <td>Rp. {{ grandtotal }}</td>
                  <td></td>
                </tr>
          </table>
        </div>
        <!-- <div class="col-sm-3">
          <p>With Item Id li</p>
          <ul>
            <li v-for='item in items' :key="item.id">
              {{item.name}} - Rp. {{item.price}}
            </li>
          </ul>
        </div>
        <div class="col-sm-3">
          <p>With Item index</p>
          <ul>
            <li v-for='(item, index) in items' :key="index">
                {{item.name}} - Rp. {{item.price}}
              </li>
          </ul>
        </div> -->
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    new Vue({
      el: '#app',
      async mounted() {
        this.loading    = true
        const response  = await axios.get('http://cfc40bbc.ngrok.io/api/items')
        this.items      = response.data
        this.loading    = false
      },
      data(){
        return {
          errors: {},
          alerts: [],
          name: '',
          price: '',
          couponCard: '',
          items: [],
          loading: true
        }
      },
      methods: {
        add(){
          this.errors = {};
          this.alerts = [];
          if(!this.name) this.errors.name = "Nama Barang dibutuhkan."
          if(this.price <= 0) this.errors.price = "Harga Barang harus valid"

          if(Object.values(this.errors).length > 0) return

          this.items.push({
            id: Date.now(),
            name: this.name,
            price: this.price
          })

          this.name  = ''
          this.price = ''
          this.alerts.push("Data Tersimpan")
        },
        remove(item){
          const index = this.items.indexOf(item)
          this.items.splice(index, 1)
        },
        addCoupon(){
          
        }
      },
      computed: {
        total(){
          return this.items
                     .map(item => Number(item.price))
                     .reduce((prev, current) => prev + current, 0)
        },
        diskon(){
          const subtotal = this.total
          return subtotal > 20000 ? (10/100 * subtotal) : 0
        },
        grandtotal(){
          const subtotal    = this.total
          const diskontotal = this.diskon
          return subtotal - diskontotal
        }
      }

    })
  </script>
</body>
</html>