<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="app">
    {{ message }}
    <input type="text" v-model="message">
    <button @click="say">Say</button>
    <div>
      <input type="text" v-model="password">
      <!-- <div v-if="isValidPassword">Valid</div>
      <div v-if="!isValidPassword">Invalid</div> -->
      <div v-show="isValidPassword">Valid</div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>

  <script>
    new Vue({
      el: '#app',
      data(){
        return {
          message: 'Hello vue',
          message: 'Hellow vues',
          password: ''
        }
      },
      methods: {
        say(){
          window.alert(this.message)
        }
      },
      computed: {
        isValidPassword(){
          return this.password == '123'
        }
      }
    })
  </script>
</body>
</html>